{% load staticfiles %}
<!-- {% block bootstrap4_extra_head %}
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock %} -->

<div class="container cards" id="tovar">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Удалитель косточек из вишен!</h5>
    <p class="card-text">Незаменимая вещь в каждом доме!</p>
    </div>
  <img class="card-img-bottom" src="static/img/001.jpg" alt="Card image cap">
  <a class="btn btn-primary" href="#form" role="button">Купить за 99 грн!</a>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Прост в использовании</h5>
    <p class="card-text">Просто поместите ягоду в аппарат – и он все сделает за Вас</p>
  </div>
  <img class="card-img-bottom" src="static/img/002.jpg" alt="Card image cap">
  <a class="btn btn-primary" href="#form" role="button">Купить за 99 грн!</a>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Удаляет только косточки!</h5>
    <p class="card-text">Оставляет всю мякоть внутри</p>
  </div>
  <img class="card-img-bottom" src="static/img/004.jpg" alt="Card image cap">
  <a class="btn btn-primary" href="#form" role="button">Купить за 99 грн!</a>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Очень компактный!</h5>
    <p class="card-text">Не займет много места на кухне</p>
  </div>
  <img class="card-img-bottom" src="static/img/005.jpg" alt="Card image cap">
  <a class="btn btn-primary" href="#form" role="button">Купить за 99 грн!</a>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Удалитель косточек из вишен!</h5>
    <p class="card-text">Для настоящих любителей вишни</p>
  </div>
  <img class="card-img-bottom" src="static/img/006.jpg" alt="Card image cap">
  <a class="btn btn-primary" href="#form" role="button">Купить за 99 грн!</a>
</div>

</div>
