{% load staticfiles %}
<!-- {% block bootstrap4_extra_head %}
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock %} -->
<div class="container jumbotron">
  <h1 class="display-4"> Любите вишню? </h1>
  <p></p>
  <p class="lead"> Вишня – одна из самых полезных и вкусных ягод, но ее нельзя есть с косточками! </p>
  <hr class="my-4">
  <p class="secont_text"> А что если мы вам скажем, что можно наслаждаться вишней АБСОЛЮТНО БЕЗ КОСТОЧЕК? </p>
  <div class="top-button">
  <a class="btn btn-primary" href="#tovar" role="button"> Узнать как! </a>
  </div>
</div>
