{% load staticfiles %}
<!-- {% block bootstrap4_extra_head %}
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock %} -->

<div class="container container-fluid" id="testimonial">

<div class="card1">
  <div class="card-body">
      <img class="card-img-top" src="static/img/face01.jpg" alt="Card image cap">
    <h5 class="card-title">Михаил Степанович, Полтава</h5>
    <p class="card-text">Приобрел для себя совершенно новый опыт поедания черешни с этим устройством! Уже заказал дочке и внучке!</p>
  </div>
</div>

  <div class="card1">
      <img class="card-img-top" src="static/img/face02.jpg" alt="Card image cap">
    <h5 class="card-title">Евдокия Аркадьевна, Харьков</h5>
    <p class="card-text">Очень люблю вишню, но с моими плохими зубами я не могу часто себе ее позволить. Но с приобретением удалителя косточек из вишен я съедаю по 1кг в день! Рекомендую!</p>
  </div>

  <div class="card1">
      <img class="card-img-top" src="static/img/face03.jpg" alt="Card image cap">
    <h5 class="card-title">Дональд Трамп, Вашингтон</h5>
    <p class="card-text">Даже не представляю, как я мог жить без этой штуковины! И доставка быстрая, куръер прямо в белый дом привез! Буду заказывать еще!</p>
  </div>

</div>
